# Путь к файлу обученной модели
MODEL_PATH=artifacts/model_catboost_best_optuna.pkl

# Пути к артефактам предобработки
SCALER_PATH=artifacts/scaler_cb.pkl
CONFIG_PATH=artifacts/CB_mlflow/catboost_optuna_config.json

# Порт, на котором запустится сервер
APP_PORT=8000
APP_HOST=0.0.0.0

# Logging
LOG_LEVEL=INFO